<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- Priority order is bottom-up, PagePageInterceptor returns directly, so it should be last -->
    <plugins>
        <plugin interceptor="com.github.pagehelper.PageInterceptor"></plugin>
        <!-- Data authority interceptor -->
        <plugin interceptor="com.seezoon.dao.framework.authority.DataAuthorityInterceptor"></plugin>
    </plugins>
</configuration>